<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madcode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADCODE">
        <activity
            android:name=".MainSpashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sharebook.Sharebook_Cus"
            android:exported="true" />
        <activity
            android:name=".Sharebook.Sharebookview_Cus"
            android:exported="true" />
        <activity
            android:name=".Request.CusReqView"
            android:exported="true" />
        <activity
            android:name=".Request.CusRequestBook"
            android:exported="true" />
        <activity
            android:name=".Events.event_comments"
            android:exported="true" />
        <activity
            android:name=".Request.ReqView"
            android:exported="true" />
        <activity
            android:name=".Request.RequestBook"
            android:exported="true" />
        <activity
            android:name=".Request.ReqEdit"
            android:exported="true" />
        <activity
            android:name=".Request.bookreqform"
            android:exported="true" />
        <activity android:name=".Events.My_event_edit" />
        <activity android:name=".Events.My_event_profile" />
        <activity android:name=".Events.my_event_list" />
        <activity android:name=".Events.event_member_list" />
        <activity android:name=".Events.user_events" />
        <activity android:name=".User.Forget_password" />
        <activity android:name=".User.user_profile" />
        <activity android:name=".login">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".User.user_registration" />
        <activity android:name=".nav_activity" />
        <activity android:name=".Events.event_profile" />
        <activity
            android:name=".Article.ArticleMainPageCustomer"
            android:exported="true" />
        <activity
            android:name=".Article.ArticleViewPageCustomer"
            android:exported="true" />
        <activity
            android:name=".Article.Article_update_page"
            android:exported="true" />
        <activity
            android:name=".Article.MyArticleCreate"
            android:exported="true" />
        <activity android:name=".Eventmain" />
        <activity
            android:name=".Events.Add_Event"
            android:exported="true" />
        <activity
            android:name=".Article.My_Article"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Article.ArticleViewPage" />
        <activity
            android:name=".Sharebook.Sharebook_updatepage"
            android:exported="true" />
        <activity
            android:name=".Sharebook.Sharebook_viewpage"
            android:exported="true" />
        <activity
            android:name=".Sharebook.sharebook"
            android:exported="true" />
        <activity
            android:name=".Sharebook.share_menu"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>